<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
</head>
<body>
    <h1>Add Employee</h1>
    <form action="/add" method="post">
        <label for="employee_number">Employee Number:</label>
        <input type="number" id="employee_number" name="employee_number" required><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="designation">Designation:</label>
        <input type="text" id="designation" name="designation" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
