{{ define "emaildefaulthtml" }}
      {{ range .Alerts }}{{ .Annotations.summary }}\n{{ end }}
      =============================
      {{ range .Alerts }}{{ .Annotations.description }}\n{{ end }}
      {{ end }}